
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome, Entity Framework (Assignment1)!</h1>
<br />
<h1>hII, its me Abhi Patel (pate0789)<br>
    And<br>
    MeetKumar Patel (pate0790)<br />Course comment - so far so good</h1>
